<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>ETC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>A01_Servlet</display-name>
    <servlet-name>A01_Servlet</servlet-name>
    <servlet-class>ETC.a02_object.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A01_Servlet</servlet-name>
    <url-pattern>/A01_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>call01</display-name>
    <servlet-name>call01</servlet-name>
    <servlet-class>ETC.a02_object.A02_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call01</servlet-name>
    <url-pattern>/call01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>call01.do</display-name>
    <servlet-name>call01.do</servlet-name>
    <servlet-class>ETC.a03_servlet.A01_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call01.do</servlet-name>
    <url-pattern>/call01.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>call02.do</display-name>
    <servlet-name>call02.do</servlet-name>
    <servlet-class>ETC.a03_servlet.A02_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call02.do</servlet-name>
    <url-pattern>/call02.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>call03.do</display-name>
    <servlet-name>call03.do</servlet-name>
    <servlet-class>ETC.a03_servlet.A03_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>call03.do</servlet-name>
    <url-pattern>/call03.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>coll4.do</display-name>
    <servlet-name>coll4.do</servlet-name>
    <servlet-class>ETC.a03_servlet.A04_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>coll4.do</servlet-name>
    <url-pattern>/coll4.do</url-pattern>
  </servlet-mapping>
</web-app>